[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
PyYAML = "==6.0"
requests ="*"
pydantic = "*"
Requests = "*"
datamodel-code-generator = "*"
httpx = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.10"
